.horizontal-row
  .pane.editor-holder
    .play
    .pause
    #editor
  .pane.vertical-row
    .pane
      %canvas.image-drop.droppable
    .pane.no-flex
      .swatches
    .pane
      .canvas

%script#sample{:type => "application/processing"}
  :plain
    void setup() {
      size(WIDTH, HEIGHT);
    }

    void draw() {
      background(80, 80, 180);
      float s = 100 + 20 * Math.sin(millis() / 500);
      ellipse(width / 2, height / 2, s, s);
    }