.image-drop {
  background: rgba(0,0,0,0.5);

  &.dragover {
    background: rgba(100,40,0,0.5);
  }
}

.swatches {
  text-align: center;
  height: 100px;
  .swatch {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 20px;
    float: left;
  }
}

#editor {
  height: 100%;
  width: 100%;
}

.canvas {
  background: black;
}

.editor-holder {
  position: relative;
}
.play {
  z-index: 10000;
  position:absolute;
  right: 10px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: asset_data_url('play.png');
  background-size: cover;
}

.pause {
  z-index: 10000;
  position:absolute;
  right: 50px;
  top: 10px;
  width: 32px;
  height: 32px;
  background: asset_data_url('pause.png');
  background-size: cover;
}