html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  background: #2f3129;
}

.vertical-row {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  & > .pane {
    &.no-flex {
      -webkit-box-flex: 0;
    }
  }
}

.horizontal-row {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  height: 100%;
  & > .pane {
    width: 50%;
    -webkit-box-flex: 1;
    &.no-flex {
      -webkit-box-flex: 0;
    }
  }
}


